<div>
    <h2>End of Week Report:</h2>
    <div ng-repeat="report in endOfWeekInfo.koboldReports">
        <details>
            <summary style="background:darkblue" ng-bind="report.name"></summary>
            <div class="detailBody">
                <span ng-bind="report['jobReport']"></span>
            </div>
        </details>

    </div>
    <span ng-bind="endOfWeekInfo.foodReport"></span>
    <br/>
    <div ng-repeat="report in endOfWeekInfo.deathReports">
        <span style="color:red" ng-bind="report"></span>
    </div>
    <br/>
    <button ng-click="newWeek()">New Week</button>
</div>