<!doctype html>

<html lang="en" ng-app="HelloWorldApp">
<head>
    <title></title>
    <meta charset="utf-8">
    <script src="../angular/angular.min.js"></script>
    <script src="../controllers/hello_world_controller.js"></script>
    <script src="../resources/names/kobold.js"></script>
    <script src="../resources/races/kobold.js"></script>
</head>

<body style="background-color:#000041; color:white; font-size:20px">
You are a kobold and the leader of your tribe. It has been a week since your tribe fled the surface, delving into the
unknown regions of the earth through twisting caves and echoing dwarf-halls. Finally, after much
searching, you have found a cavern you deem fit to settle your tribe. A small stream nearby provides water, while
mushrooms grow in abundance. There are few entrances, and they are easily concealed. Perhaps you may prosper here as you
did on the surface.
<br/><br/>
Coming here was not without cost. Of the 27 kobolds that set out, only 8 of are left. There
is little time for grieving, however. Food must be gathered and defenses must be made. Below are monsters that
lurk in the depths of the world, above is the twisted hellscape that used to be the kingdoms of men, and neighboring are the
dwarves, though they are few now in number. You must prepare to fend off all of them, for eventually they will find you. You are not alone, however. You have
met other kobold tribes journeying downward as well. If you can make contact with one, perhaps you may open up trade. There
are also tales of dragons who live deep beneath the earth, but those are just tales.
<br/><br/>
Bring prosperity to your tribe, strike down your enemies, and carve your place into this world!
</div>
<div>
    <a href="main.html">Start!</a>
</div>
</body>
</html>