body {
    background-color:#000041;
    color:white;
    font-size:20px;
}

details {
    padding-bottom: 0.5em;
}

.koboldSummary {
    background:darkblue;
}

.equippedSummary {
    background:darkred;
}
.inventorySummary {
    background:darkred;
}

.detailBody {
    padding-left: 1em;
}

summary:hover,button:hover {
    cursor:pointer
}

.endOfWeekReport {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background: #575c8b;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}